:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.705 0.191 47.604);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.965 0.022 47);
  --secondary-foreground: oklch(0.405 0.1 47);
  --muted: oklch(0.965 0.022 47);
  --muted-foreground: oklch(0.556 0.01 47);
  --accent: oklch(0.932 0.04 47);
  --accent-foreground: oklch(0.405 0.1 47);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.915 0.028 47);
  --input: oklch(0.915 0.028 47);
  --ring: oklch(0.705 0.191 47.604);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --radius: 0rem;
  --spacing: 0.25rem;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --letter-spacing: 0em;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 1px;
}

.dark {
  --background: oklch(0.155 0.015 47);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0.025 47);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0.025 47);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.705 0.191 47.604);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0.035 47);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0.035 47);
  --muted-foreground: oklch(0.708 0.025 47);
  --accent: oklch(0.269 0.035 47);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.705 0.191 47.604);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}
